.qwe {
    font-size: 40px;
    color: rebeccapurple;
}

.analog-clock {
    width: 100px;
    height: 100px;
    border: solid 1px #000;
    border-radius: 50%;
    position: relative;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #fff;
    z-index: 1;
}


.dial {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    transform-origin: bottom left;
}

.hours {
    width: 35px;
    height: 35px;
    top: 13px;
    left: 50px;
    border-left: solid 3px #fff;

}

.minutes {
    border-left: solid 2px #fff;
}

.seconds {
    border-left: solid 1px #fff;
}